@font-face {
    font-family: 'Modern Era';
    src: url('../../assets/fonts/ModernEra-Medium.woff2') format('woff2'),
        url('../../assets/fonts/ModernEra-Medium.woff') format('woff'),
        url('../../assets/fonts/ModernEra-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('../../assets/fonts/ModernEra-Bold.woff2') format('woff2'),
        url('../../assets/fonts/ModernEra-Bold.woff') format('woff'),
        url('../../assets/fonts/ModernEra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Era';
    src: url('../../assets/fonts/ModernEra-Regular.woff2') format('woff2'),
        url('../../assets/fonts/ModernEra-Regular.woff') format('woff'),
        url('../../assets/fonts/ModernEra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

